@import "tailwindcss";

.outfit{
  font-family: "Outfit", sans-serif;
}

.sideDown{
      animation: slideIn 0.7s ease-out forwards;

}

.sideUp{
      animation: slideup 0.7s ease-out forwards;

}


@keyframes slideIn {
  from {
   transform: translateY(-100%);
   opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideup {
  from {
   transform: translateY(50px);
   opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}



@keyframes slideInLeft {
  from {
    transform: translateX(-50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}


@keyframes slideInRight {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInUp {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(50px);
    opacity: 1;
  }
}

.animate-left {
  animation: slideInLeft 0.8s ease-out forwards;
}

.animate-right {
  animation: slideInRight 0.8s ease-out forwards;
}

.animate-up {
  animation: slideInUp 0.8s ease-out forwards;
}
